@import url(https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@800&display=swap);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grenze Gotisch', sans-serif ;

}
body
{

    
    zoom:200%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(https://cdn.wallpapersafari.com/73/88/HmjGk3.jpg)
}

.calculator
{
    position: relative;
    display: grid;
}
.calculator .value
{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.calculator span
{
    font-size: 50px;
    display: grid;
    width: 80px;
    height: 80px;
    color:orangered;
    background:black;
    place-items: center;
    border: 1px solid rgba(0,0,0,.1);
}
.calculator span:active
{   
    background: #74ff3b;
    color: #111;

}
.calculator span.clear {
    grid-column: span 2;
    width: 160px;
    background: orangered;
}
.calculator span.plus{
    grid-row: span 2;
    height:120px ;
}
.calculator span.equal{
    grid-row: span 2;
    height:120px ;
    background:#74ff3b;
    position: relative; top: -40px;
    
}


